/***************** LANDING **********************/
.landing {
  background: linear-gradient( rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3) ),url(../../assets/los-angeles.jpg);  background-color: #cccccc; /* Used if the image is unavailable */
  height: 70vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: white;
}

.landing-button {
  background-color: var(--color-yellow) !important;
}

.landing-yellow {
  color: var(--color-yellow) !important;
}