/***************** LANDING **********************/
.landing {
  background-image: linear-gradient( rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3) ),url(../../assets/los-angeles.jpg); 
  height: 70vh; 
  width: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
}


.landing::before {
  content: "" !important;
  /* background: linear-gradient( rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3) ),url(../../assets/los-angeles.jpg); Used if the image is unavailable */
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.2);
  filter: blur(4px) !important;
}

.landing .landing-header {
  position: relative !important;
}

.landing-button {
  background-color: var(--color-yellow) !important;
}

.landing-yellow {
  color: var(--color-yellow) !important;
}