/***************** LANDING **********************/
.landing {
  height: 70vh; 
  width: 100%;
  position: relative;
}

.landing::before {
  background-image: url(../../assets/los-angeles3.jpeg); 
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  content: "" !important;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-filter: saturate(2px);
  -moz-filter: saturate(2px);
  -o-filter: saturate(2px);
  -ms-filter: saturate(2px);
  filter: saturate(3);
}

.landing .landing-header {
  position: relative;
}

@media (max-width: 600px) {
  .landing-title {
    font-size: 2.5rem;
  }

  .landing-subtitle {
    font-size: .5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 415px) {
  .landing-title {
    font-size: 1.6rem;
  }

  .landing-subtitle {
    font-size: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}