
.about {
  height: 60vh;
}

.about-section {
  margin: 2rem 0;
  height: auto;
}

.about-section-middle {
  margin: 4rem 0 !important;
}

.about-description {
  line-height: 23px;
  font-weight: 300;
  font-size: 15px;
  color: var(--color-grey-light-2) !important;
}

.about-img-container-top {
  border-left: 2px solid var(--color-yellow);
  padding-top: 2rem;
}

.about-img-container-middle {
  margin-top: 1rem;
  border-right: 2px solid var(--color-yellow);
}

.about-img-container-middle img {
  width: 15rem;
}

.about-img-container-bottom {
  border-left: 2px solid var(--color-yellow);
  padding-bottom: 1rem;
}

.about-heading {
  color: var(--color-yellow);
}
