
/* .navbar ul li a:active {
  color: var(--color-yellow) !important;
} */

.navbar-toggler {
  color: green !important;
  border: 1px solid white !important;
}

.navbar-brand {
  border-radius: 50%;
  border-left: 1px solid white;
  border-bottom: 1px solid var(--color-yellow);
  opacity: 90%;
}

.logo {
  width: 7rem;
  height: 4rem;
  padding: .2rem;
  /* border-left: 1px solid var(--color-yellow); */
  background-color: ;
  border-radius: 10%; 
  padding: .5rem;
  margin-left: .6rem;
}

.fa-brand {
  font-size: 1.7rem;
}

.active {
  color: var(--text-yellow) !important;
}

.logo-title {
  font-weight: 300;
  font-size: 15px;
  text-transform: capitalize;
}

@media (max-width: 600px) {

  .logo {
    width: 7rem;
    height: 4rem;
    padding: .2rem;
    border-radius: 10%; 
  }

  .logo-title {
    display: none;
  }
}