.App {
  text-align: center;
  background-color: #7E8F94;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

img {
  display: none;
}

#map {
  max-height: 40vh;
  width: 100%;
}

.hr {
  height: 10px; 
}

.price {
  border-top: 1px solid darkslategrey
}

.landing {
  background: linear-gradient( rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3) ),url(./assets/los-angeles.jpg);  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: white;
}

@media (max-width: 550px) { 
  #map {
    max-height: 35vh;
    width: 100%;
  }

  p.list-group-item-text {
    font-size: 16px;
    padding: .5rem 0;
    margin-bottom: 0;
  }

  .landing p {
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: .4rem;
  }

}

