/********************** UTILITY CSS ****************/

/********************** COLORS ****************/
.bg-flat-green {
  background-color: var(--color-flat-green) !important;
}

.bg-flat-blue {
  background-color: var(--color-flat-blue) !important;
}

.text-flat-blue {
  color: var(--color-flat-blue) !important;
}

.text-yellow {
  color: var(--color-yellow) !important;
}

.bg-yellow {
  background-color: var(--color-yellow) !important;
}

.text-green-dark {
  color: var(--color-green-dark) !important;
}

.bg-green-dark {
  background-color: var(--color-green-dark) !important;
}

.text-green-light {
  color: var(--color-green-light) !important;
}

.bg-green-light {
  background-color: var(--color-green-light) !important;
}

.text-orange {
  color: var(--color-orange) !important;
}

.text-flat-orange {
  color: var(--color-flat-orange) !important;
}

.bg-flat-orange {
  background: var(--color-flat-orange) !important;
}

.bg-orange {
  background-color: var(--color-orange) !important;
}

.text-grey-light-2 {
  color: var(--color-grey-light-2) !important;
}

.bg-grey-light-2 {
  background-color: var(--color-grey-light-2) !important;
}

/************************** FONTS  *****/
.font-monospaced {
  font-family: var(--font-monospaced)
}

.font-monospaced-bold {
  font-family: var(--font-monospaced-bold)
}

.font-montserrat {
  font-family: "Montserrat", "Helvetica-Neue", "Helvetica", "Arial", "sans-serif"
}