body {
  background-color: #254E58 !important;
}
 /* #FAED26 */
/***************** BOOK **********************/
#map {
  max-height: 40vh;
  width: 100%;
  width: auto;
  height: 60vh;
}

.price {
  border-top: 1px solid darkslategrey
}

.book-form label {
  color: #FCE181;
}

.book-form {
  background-color:#254E58 !important;
}

.book-address {
  margin-bottom: .5rem;
  padding-top: 0 0 !important;
}

/* display none because it defaults to metric */
.geoResponse-result-distance {
  display: none;
}

/***************** LANDING **********************/
.landing {
  background: linear-gradient( rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3) ),url(./assets/los-angeles.jpg);  background-color: #cccccc; /* Used if the image is unavailable */
  height: 70vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: white;
}

.landing-button {
  background-color: #FCCD04 !important;
}

.landing-yellow {
  color: #FCCD04;
}


/***************** ABOUT **********************/
.about-section {
  margin: 2rem 0;
}

.about-description {
  line-height: 23px;
  font-size: 16px;
}

img.about-img {
  margin-top: 1rem;
} 

.about-description {
  color: #C9E1C8;
}

.about-heading {
  color: #FCE181;
}

.about {
  height: 80vh;
}

/***************** MEDIA QUERIES **********************/
@media (max-width: 500px) {
  #map {
    width: auto;  
    height: 40vh;
  }
}

