:root {
    --color-primary: ##254E58;
    --color-yellow:#FCCD04;
    --color-green-dark: #254E58;
    --color-green-light: #C9E1C8;
    --color-orange: #FF652F;
    --color-flat-orange: #FFCCBC;
    --color-flat-green: #00887A;
    --color-flat-blue: #77A6F7;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

    --line: 1px solid var(--color-grey-light-2);
}

.bg-flat-green {
  background-color: var(--color-flat-green) !important;
}

.bg-flat-blue {
  background-color: var(--color-flat-blue) !important;
}

.text-flat-blue {
  color: var(--color-flat-blue) !important;
}

.text-yellow {
  color: var(--color-yellow) !important;
}

.bg-yellow {
  background-color: var(--color-yellow) !important;
}

.text-green-dark {
  color: var(--color-green-dark) !important;
}

.bg-green-dark {
  background-color: var(--color-green-dark) !important;
}

.text-green-light {
  color: var(--color-green-light) !important;
}

.bg-green-light {
  background-color: var(--color-green-light) !important;
}

.text-orange {
  color: var(--color-orange) !important;
}

.bg-orange {
  background-color: var(--color-orange) !important;
}

.text-grey-light-2 {
  color: var(--color-grey-light-2) !important;
}

.bg-grey-light-2 {
  background-color: var(--color-grey-light-2) !important;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* 1rem = 10px, 10px/16px = 62.5% */
  /* font-size: 62.5%;  */
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  background-color: var(--color-green-dark) !important;
  max-width: 1400px;
  margin: 0 auto !important;
}

.wrapper {
  margin: 0 3rem;
}



