body {
  margin: 0;
  padding: 0;
}

#map {
  /* width: 80vw;
  height: 80vh; */
  width: auto;
  height: 60vh;
}

.main-color {
  background-color: #ffc107;
}

.secondary-color {
  background-color: #E8F9EF;
}

/* display none because it defaults to metric */
.geoResponse-result-distance {
  display: none;
}

.phone {
  border-radius: 4% 3%;
}

.address {
  border-radius: 4% 3%;
}

.contactus {
  margin-right: 0;
  padding-right: 0;
  float: right;
  width: 15rem;
  height: 3rem;
}

/* About */
.about-section {
  margin: 2rem 0;
}

.about-description {
  line-height: 25px;
  font-size: 16px;
}

img.about-img {
  margin-top: 1rem;
} 

@media (max-width: 500px) {

  .brand {
    width: 100%;
    max-width: 10rem;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  .contactus {
    display: none;
  }

  img.about-img {
    margin: 0;
    width: 65%;
  }

  .about-section {
    margin: 3.5rem;
    padding: 0;
  }

}


