@import '../public/sdk/map.css';
@import './utility.css';

:root {
  /* COLORS */
  /* --color-primary: #005C77; */
  --color-primary-dark: #1c1c1c;
  /* --color-primary-dark: #222831; */
  --color-yellow: #fccd04;
  --color-green-dark: #005c77;
  /* --color-green-dark: #222831; */
  --color-green-light: #c9e1c8;
  --color-orange: #ff652f;
  --color-flat-orange: #ffccbc;
  /* --color-flat-orange: #FF8D00; */
  --color-flat-green: #00887a;
  --color-flat-blue: #77a6f7;

  /* grey with an 'e' */
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  /* gray with a 'a' */
  --color-gray-light-1: #faf9f9;
  --color-gray-light-2: #f4f2f2;
  --color-gray-light-3: #f0eeee;
  --color-gray-light-4: #ccc;

  --color-gray-dark-1: #333;
  --color-gray-dark-2: #777;
  --color-gray-dark-3: #999;

  /* FONTS */
  --font-monospaced: 'Courier New', Courier, monospace;
  --font-monospaced-bold: 'Lucida Console', Monaco, monospace;

  /* BREAK POINTS */
  --bp-large: 1100px;
  --bp-medium: 900px;
  --bp-small: 600px;

  /* OTHER */
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --line: 1px solid var(--color-grey-light-2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  /* 1rem = 10px, 10px/16px = 62.5% */
  /* font-size: 62.5%;  */
}

body {
  font-family: 'Arial', 'sans-serif' !important;
  font-weight: 400;
  background-color: var(--color-primary-dark) !important;
  max-width: 2500px;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

/* body takes up the entire viewport even if its content does not. */
body {
  min-block-size: 100vh;
}

/*  max-inline-size set to 100% makes images responsive by default */
img {
  display: block;
  max-inline-size: 100%;
}

/* 60ch seems to be the optimal length for readability */
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
figcaption {
  max-width: 60ch;
}

/* wrapper for entire App */
@media (max-width: 1100px) {
  .wrapper {
    margin: 0 2rem 0 2rem 0 !important;
  }
}

@media (max-width: 600px) {
  .wrapper {
    margin: 0 0 !important;
    padding: 0 !important;
    letter-spacing: 0.04rem;
  }
}

@media (max-width: 415px) {
  .wrapper {
    margin: 0 2rem 0 2rem 0 !important;
    letter-spacing: 0.02rem;
  }
}
